.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-auto-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
  width: 1200px;
    margin: 0 auto;
}

.body{
    background-image: url("./Images/1.jpg");
    }

.app-wrapper-content{
    grid-area: c;
    background-color: green;
}
